html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

